.bg {
  background-image: url("leekNotCelery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.card-img-top {
  max-height: 200px;
  max-width: 20rem;
}

.title {
  color: rgb(120,120,120);
}